#write-review-wrapper {
    position: relative;
    margin-left: 20px;
}

#write-review-overlay {
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.092);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;

    svg {
        width: 50px;
        height: 50px;
    }
}

#write-review-title {
    font-size: 24px;
    margin: 0;
}

#write-review-form {
    padding: 10px;
    button {
        display: block;
        width: 15vw;
        padding: 14px;
        font-size: 16px;
        font-weight: bold;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: ease-in-out .1s;
        margin: 10px 0px;
    }
    button:hover {
        background: #0056b3;
    }
    button:active {
        background-color: #004084;
    }   
}

.stars {
    direction: rtl;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.stars input {
    display: none;
}

.stars label {
    font-size: 4rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0;
}

.stars input:checked ~ label,
.stars label:hover,
.stars label:hover ~ label {
    color: #ffc107;
}

.write-review-input-cont {
    position: relative;
}

.write-review-input-cont label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: rgb(102, 102, 102);
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    padding: 0 4px;
}

.write-review-input-cont textarea {
    min-width: 35vw;
    max-width: 50vw;
    min-height: 120px;     /* чтобы сообщение было удобно писать */
    max-height: 250px;
    display: inline-block;
    width: 100%;           /* на всю ширину контейнера */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.write-review-input-cont textarea:focus + label,
.write-review-input-cont textarea:not(:placeholder-shown) + label {
    top: -4px;
    font-size: 12px;
    color: #333;
}

.write-review-input-cont textarea:hover,
.write-review-input-cont textarea:focus {
    border-color: black;
    outline: none;
}

#review-cards-wrapper {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.review-cards {
    width: 80vw;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 5px;
    position: relative;
    font-size: 16px;
    color: #303030;
    span {
        font-weight: 600;
    }
}

.reviw-cards-message {
    white-space: preline;
}

.review-cards-date {
    color: #6f6f6f;
    position: absolute;
    right: 2%;
    top: 0;
}

.review-cards-rating {
    margin-bottom: 0;
}
.review-cards-rating-stars {
    font-size: 1.5rem;
}
