.col-image { width: 10% }
.col-name {}
.col-price {}
.col-quantity {}

#cart-cont {
    position: relative;
    padding: 25px 0;
}

#cart-empty__title {
    font-size: 26px;
    font-weight: 400;

    text-align: center;
    color: #4A4A4A;
    margin: 20px auto 0 auto;
    position: relative;
    display: block;

}

#cart-empty__description {
    font-size: 16px;

    text-align: center;
    color: #7c7c7c;
}

#cart-table {
    width: 100%;
    max-width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
    background-color: white;
}

#cart-table td, #cart-table th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}
#cart-table img {
    width: 64px;
    height: 64px;
}


.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.qty-display {
    font-size: 1.2rem;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.qty-buttons {
    display: flex;
    flex-direction: column;
}

.btn-qty {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    opacity: 0.6;
    transition: 0.2s;
}

.btn-qty:hover {
    opacity: 1;
    background-color: #eee;
    border-radius: 4px;
}

#cart-to-order__button {
    display: block;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    text-align: center;
    height: max-content;
    position: absolute;
    right: 3%;
    bottom: 0;
    transform: translateY(-50%);
    text-decoration: none;

    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

#cart-to-order__button:hover {
    background: #0056b3;
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
}
#cart-to-order__button:active {
    background-color: #004084;
    transform: translateY(-50%) scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
}


