#products-title {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;

    text-align: center;
    color: #4A4A4A;
    margin: 40px auto;
    position: relative;
    display: block;
    padding-bottom: 12px;
}

#products-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 35px;
    height: 1px;
    background-color: #AAAAAA;
}

#products-main-cont-wrap {
    display: flex;
    width: 100%;
    position: relative;
}

#products-filter-cont {
    width: max-content;
    padding: 20px 15px;
    background: #fafafa;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    height: max-content;
    margin-left: 10px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li{
        padding: 0;
    }

    a {
        display: block;
        padding: 10px 10px;
        border-radius: 8px;
        text-decoration: none;
        color: #5e5e5e;
        font-weight: 550;
        transition: all 0.25s ease-in-out;
        text-transform: uppercase;
    }

    a:hover {
        background: #f0f0f0;
        color: #303030;
        transform: translateX(4px);
    }

    a.active {
        background: #303030;
        color: #fff;
    }
}

#products-filter-cont-title {
    font-size: 18px;
    margin: 0;
}


#products-main-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;

    width: 100%;
}

#products-pagination-wrapper {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}
