#profile-main-cont {
    display: flex;
    height: 100vh;
}

#profile-left-cont {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid black;
    button {
        color: grey;
        background: none;
        border: none;
        cursor: pointer;
    }
}

#profile-right-cont {
    position: relative;
    padding-left: 50px;
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 5px;

    input[type='text'] {
        font-size: 16px;
        min-width: 15%;
        padding: 5px 10px 5px 10px;
        border: 1.5px solid rgb(157, 157, 157);
        border-radius: 5px;
        transition: ease-in-out .2s;
    }
    input[type='text']:focus,
    input[type='text']:hover {
        border-color: black;
        outline: none;
    }

    button:hover {
        background-color: #d1d5db;
    }

    button:active {
        background-color: #9ca3af;
    }

    label {
        color: rgb(68, 68, 68);
    }
}
.profile-right-cont-change-data-buttons {
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e5e7eb;
    color: #374151;
    padding: 5px 12px;
    height: 100%;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

#profile-right-cont-title {
    font-size: 24px;
    color: #303030;
}

.active-btn {
    color: black !important;
}

.disabled-btn,
.disabled-btn:hover,
.disabled-btn:active,
.disabled-btn:focus {
    cursor: default !important;
    filter: opacity(.5);
    background-color: #e5e7eb !important; /* уберёт изменения при hover */
    box-shadow: none !important;          /* уберёт active/focus */
}

#profile-right-cont-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
    row-gap: 20px;
}

#profile-right-cont-add-product-button {
    cursor: pointer;
    max-width: max-content;
    padding: 10px;
    background: none;
}
