.support-title {
    font-size: 28px;
    text-align: center;
}

#support-list {
    span {
        font-weight: 600;
        color: #4b4b4b;
    }
}

#support-feedback-form {
    max-width: 600px;   /* ограничиваем ширину формы */
    margin: 0 auto;     /* центрируем */
    padding: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    button {
        display: block;
        width: 100%;           /* кнопка на всю ширину */
        padding: 14px;
        font-size: 16px;
        font-weight: bold;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    button:hover {
        background: #0056b3;
    }
    button:active {
        background-color: rgb(220, 220, 220);
    }
}

.support-feedback-form-input {
    position: relative;
    margin-bottom: 20px;
    width: 15%;
}

.support-feedback-form-input input,
.support-feedback-form-input textarea {
    display: inline-block;
    width: 100%;           /* на всю ширину контейнера */
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.support-feedback-form-input label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: rgb(102, 102, 102);
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    padding: 0 4px;
}

.support-feedback-form-input textarea {
    min-height: 120px;     /* чтобы сообщение было удобно писать */
    resize: vertical;      /* можно растягивать только по вертикали */
}

.support-feedback-form-input input:focus + label,
.support-feedback-form-input input:not(:placeholder-shown) + label {
    top: -4px;
    font-size: 12px;
    color: #333;
}

.support-feedback-form-input textarea:focus + label,
.support-feedback-form-input textarea:not(:placeholder-shown) + label {
    top: -4px;
    font-size: 12px;
    color: #333;
}

.support-feedback-form-input input:hover,
.support-feedback-form-input input:focus,
.support-feedback-form-input textarea:hover,
.support-feedback-form-input textarea:focus {
    border-color: black;
    outline: none;
}
