.alert {
    position: absolute;
    min-width: 15vw;
    height: max-content;
    bottom: 5vh;
    right: 5vw;
    border-radius: 10px;
    transition: ease-in-out .2s;
    p {
        margin: 0;
        padding: 15px 10px;
    }
}

#alert-success {
    background-color: #d4edda;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

#alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

#alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 15px 10px;
    }
}