header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(223, 223, 223);
    padding: 5px 0px;
    align-items: center;
    font-size: 18px;
    p {
        margin: 0;
    }
}

#header-title-cont {
    font-size: 24px;
    margin-left: 5px;
}

#header-tools-cont {
    margin-right: 5px;
    display: flex;
    gap: 10px;
}