#last-products-title {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 2px;

    text-align: center;
    color: #4A4A4A;
    margin: 40px auto;
    position: relative;
    display: block;
    padding-bottom: 12px;
}

#last-products-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 35px;
    height: 1px;
    background-color: #AAAAAA;
}

#last-products-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5%);
    row-gap: 20px;
    justify-content: center;
}

#last-products-view-more {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2563eb;
    text-decoration: none;
}
