#last-products-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #303030;
    margin: 30px auto;
    position: relative;
    display: block;
    padding-bottom: 8px;
}

#last-products-title::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 5%;
    height: 3px;
    background: linear-gradient(90deg, #303030, #5e5e5e);
    border-radius: 2px;
}

#last-products-cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, 17.5%);
    row-gap: 20px;
    justify-content: center;
}

#last-products-view-more {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2563eb;
    text-decoration: none;
}
