.product-card {
    position: relative;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    width: 220px;
    height: 300px;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;

    a {
        text-decoration: none;
    }
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 8px;
}

.product-card p {
    margin: 4px 0;
    font-size: 14px;
    color: #303030;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-card p span {
    color: #5a5a5a;
    font-weight: 600;
    margin-right: 4px;
}

.product-card__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;   /* только 2 строки */
    -webkit-line-clamp: 2;   /* только 2 строки */
    -webkit-box-orient: vertical;
    font-size: 13px;
    line-height: 1.3em;
}

.product-card__price-buy {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
    p {
        font-size: 17px !important;
    }
    span {
        color: #dc2626 !important;
    }
    button {
        font-weight: 600;
        font-size: 16px;
        color: #fff;
        background-color: #dc2626; /* глубокий красный */
        border: none;
        padding: 10px 14px;
        border-radius: 8px;
        transition: background-color 200ms ease, transform 150ms ease;
        cursor: pointer;
    }

    button:hover {
        background-color: #b91c1c; /* более тёмный оттенок */
    }

    button:active {
        background-color: #991b1b;
    }

}

.disabled-buy {
    background-color: #d59393 !important;
}

.product-card__actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    height: max-content;
    position: absolute;

    z-index: 9999;
    top: 5px;
    right: 5px;
}

.product-card__delete button,
.product-card__edit {
    border: none;
    border-radius: 5px;
    transition: ease-in-out .2s;
    padding: 2.5px;
    cursor: pointer;
}

.product-card__delete button {
    background-color: #ce5656;
}

.product-card__delete button:hover {
    background-color: #b91c1c !important;
}

.product-card__delete button:active {
    background-color: #991b1b !important;
}

.product-card__edit {
    background-color: #f97316;
}

.product-card__edit:hover {
    background-color: #ea580c !important;
}

.product-card__edit:active {
    background-color: #c2410c !important;
}
