#your-reports__cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.your-reports__card {
    position: relative;
    display: grid;
    grid-template-columns: 60% 15% 20% auto;
    gap: 15px;
    width: 95%;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 12px;

    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);

    transition: all 0.3s ease;
    background-color: #fff;
}

.your-reports__card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.your-reports__card-box {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    max-height: 5vh;
    gap: 2px;

    overflow: hidden;
}

.your-reports__card-box-name {
    color: #a9a9a9;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.your-reports__card-value {
    font-weight: 500;
    color: #333;
    line-height: 1.3;
}

.your-reports__card-button {
    display: block;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 600;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    text-align: center;
    height: max-content;
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;

    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.your-reports__card-button:hover {
    background: #0056b3;
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
}
.your-reports__card-button:active {
    background-color: #004084;
    transform: translateY(-50%) scale(0.98);
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
}
