#sended-confirmation-user-title {
    font-size: 24px;
    text-align: center;
    color: #303030;
}

#sended-confirmation-user-description {
    font-size: 18px;
    text-align: center;
    color: #5e5e5e;
}