#admin-user {
    display: flex;
    margin: 35px;
    gap: 10px;
    form {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    button {
        display: block;
        height: 100%;
        padding: 7.5px;
        font-size: 16px;
        font-weight: bold;
        background: #007bff;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: ease-in-out .1s;
    }
    button:hover {
        background: #0056b3;
    }
    button:active {
        background-color: #004084;
    }
}

.admin-user-search__input {
    position: relative;
}

.admin-user-search__input input {
    padding: 5px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 4px;
    outline: none;
}

.admin-user-search__input input:focus {
    border: 1px solid #303030;
}

.admin-user-search__input label {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    color: rgb(102, 102, 102);
    pointer-events: none;
    transition: all 0.2s ease;
    background: white;
    padding: 0 4px;
}

.admin-user-search__input input:focus + label,
.admin-user-search__input input:not(:placeholder-shown) + label {
    top: -4px;
    font-size: 12px;
    color: #333;
}


#admin-view {
    display: flex;
    gap: 20px;
}

#admin-view-products {
    display: grid;
    width: 70vw;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-auto-rows: max-content;
    column-gap: 20px;
    row-gap: 20px;

    overflow-y: scroll;
    scrollbar-width: none; /* для Firefox */
    -ms-overflow-style: none; /* для IE и Edge */
}

.admin-product__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 15vw;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    padding: 10px;
    cursor: pointer;
    height: max-content;
    text-decoration: none;

    img {
        width: 15vw;
        height: 15vh;
        border-radius: 10px;
    }
}

.admin-product__card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.admin-product__data {
    margin: 4px 0;
    font-size: 14px;
    color: #303030;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    span {
        color: #5a5a5a;
        font-weight: 600;
        margin-right: 4px;
    }
}

.mini-product-card__more {
    color: #2563eb;
    text-align: right;
}
.admin-product__options {
    display: flex;
    flex-direction: column;
    gap: 5px;

    position: absolute;
    right: 5px;
    top: 5px;
}

.admin-product__delete button {
    background-color: #ce5656;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .2s;
    padding: 2.5px;
    cursor: pointer;
}

.admin-product__delete button:hover {
    background-color: #b91c1c !important;
}

.admin-product__delete button:active {
    background-color: #991b1b !important;
}

.admin-product__edit-button {
    background-color: #6cb06e;
    border: none;
    border-radius: 5px;
    transition: ease-in-out .2s;
    padding: 2.5px;
    cursor: pointer;
}

.admin-product__edit-button:hover {
    background-color: #45A049 !important;
}

.admin-product__edit-button:active {
    background-color: #3a873e !important;
}


#admin_product__update {
    display: none;

    position: absolute;
    width: 80vw;
    height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    flex-direction: column;
    gap: 10px;
    background-color: red;
}

#admin-view-logs {
    width: 25vw;
    height: 80vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#admin-no-product {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;
    p {
        color: #5a5a5a;
        font-size: 18px;
        margin: 0;
    }
    svg {
        width: 300px;
        height: 300px;
    }
}
